Options +FollowSymLinks -MultiViews

# Turn mod_rewrite on
RewriteEngine On

RewriteCond %{HTTPS} on

# [P]: Proxy the request if url ends with `/callback`
RewriteRule ^callback http://%{HTTP_HOST}%{REQUEST_URI} [P]

# [R]: Redirect the request 
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#AddHandler server-parsed .shtml
